/.bashrc
/.conda
/.env
/.idea
/.ipython
/.lightning_studio
/.python_history
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/.condarc
/.config
/.gitconfig
/.docker
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful